@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <a href="/Book" class="btn btn-info">Books</a>
        <a href="/Movie" class="btn btn-info">Movie</a>
        <a href="/Loan" class="btn btn-info">Loan</a>

        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
